
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

<div>
    <label for="fileUpload" />
    Select File to Upload:
    <input id="fileUpload" name="fileUpload" type="file" />
    <input id="fileUpload1" name="fileUpload" type="file" />
    <input id="btnUploadFile" type="button" value="Upload File" />
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnUploadFile').on('click', function () {

            var data = new FormData();

            var files = $("#fileUpload").get(0).files;
            console.log(files);
            console.log($("#fileUpload").get(0));
            console.log($("#fileUpload").files[0]);
            console.log($("#fileUpload")[0].files[0]);

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                //url: "/api/fileupload/uploadfile",
                url:'@Url.Action("UploadFile","api")',
                contentType: false,
                processData: false,
                data: data
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
                alert('上傳成功');
            });
        });
    });
</script>